body{
  width: 500px;
}

.icons-box{
  float: left;
  margin-right: 20px;
}

.icons-box{
  padding: 10px;
}

.extra-config-box{
  padding: 5px;
  padding-left: 10px;
}

.clear{
  clear: both;
}

.button{
  border: none;
  cursor: pointer;
  padding: 7px;
  margin-top: 5px;
}

.button-blue{
  background-color: #4285f4;
  color: white;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  color: white;
}

a:visited{
  color: white;
}

.m-t-5{
  margin-top: 5px;
}

label{
  cursor: pointer;
}
